<template>
  <q-toolbar class="bg-primary text-white q-my-md shadow-2">
    <slot name="content"></slot>
  </q-toolbar>
</template>

<script lang="ts">
export default {
  name: "SubToolbar"
}
</script>

<style scoped>

</style>
