<template>
  <q-page class="q-pa-sm">
    <div class="text-h6 q-ma-md">Beitrittsanfragen</div>
    <q-separator/>
    <q-table :columns="columns" :rows="entryRequests" hide-bottom>
      <template v-slot:body-cell-RelatedGroupName="props">
        <q-td :props="props">
          <q-item style="max-width: 420px">
            <q-item-section avatar>
              <q-avatar>
                <img :src="userAvatars ? userAvatars[Math.floor(Math.random() * userAvatars.length)] : ''">
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ props.row?.RelatedGroupName }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-CreatedAt="props">
        <q-td :props="props">
          <q-item>
            <q-item-section>
              <q-item-label>{{ $filter.formatDate(props.row?.CreatedAt) }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-Status="props">
        <q-td :props="props">
          <q-item>
            <q-item-section>
              <q-item-label>{{ GroupEntryRequestStatus[props.row.Status] }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-Action="props">
        <q-td :props="props">
          <q-btn class="q-ml-sm" disable dense flat icon="delete" size="sm" label="Zurücknehmen" color="negative"/>
        </q-td>
      </template>
    </q-table>
  </q-page>

</template>

<script lang="ts">
import {defineComponent} from 'vue'
import {userAvatars} from "src/services/data-service/user-data";
import userEntryRequestClient from "src/api-client/clients/restricted/user-entry-request-client";
import {GroupEntryRequest, GroupEntryRequestStatus} from "src/models/entities/group-entry-request";

const columns = [
  {name: 'RelatedGroupName', label: 'Gruppe', field: 'RelatedGroupName', sortable: true, align: 'left'},
  {name: 'CreatedAt', label: 'Erstellt am', field: 'CreatedAt', sortable: true, align: 'left'},
  {name: 'Status', label: 'Status', field: 'Status', sortable: true, align: 'left'},
  {name: 'Action', label: '', field: 'Action', sortable: false, align: 'center'}
];
export default defineComponent({
  name: 'EntryRequests',
  data() {
    return {
      GroupEntryRequestStatus,
      userAvatars,
      columns,
      entryRequests: [] as GroupEntryRequest[] | null
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      userEntryRequestClient.get().subscribe(resp => {
          this.entryRequests = resp.data.Data;
        }
      )
    }
  },
})
</script>
