<template>
  <news-list-paginated v-if="cards_data" :news-list="cards_data"></news-list-paginated>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import NewsCard from "src/components/shared/news-specific/NewsCard.vue";
import userClient from "src/api-client/clients/restricted/user-client";
import {PieceOfNewsDetail} from "src/models/entities/piece-of-news";
import NewsListPaginated from "src/components/shared/news-specific/NewsListPaginated.vue";


export default defineComponent({
  name: "NewsListOverview",
  components: {
    NewsListPaginated,
    NewsCard,
  },
  data() {
    return {
      cards_data: [] as PieceOfNewsDetail[]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      await userClient.getNews().subscribe(next => {
        this.cards_data = next.data.Data
      })
    }
  },
})
</script>

<style scoped>

</style>
