<template>
  <q-page class="q-pa-sm">
    <div class="text-h6 q-ma-md">News erstellen</div>
    <q-separator/>
    <q-card class="card-bg text-white">
      <q-form
        class="q-gutter-md"
        @reset="onReset"
        @submit="onSubmit"
      >
        <q-card-section class="q-pa-sm">
          <q-list class="row">

            <q-item class="col-12">
              <q-item-section>
                <q-select
                  v-model="selectedGroup"
                  :options="userGroupSelectOptions"
                  :rules="[ val => val != null ||'Es muss eine Gruppe ausgewählt sein']"
                  label="Gruppe"
                  lazy-rules
                  option-label="Label"
                  option-value="Value"></q-select>
              </q-item-section>
            </q-item>
            <q-item class="col-12">
              <q-item-section>
                <q-input v-model="title"
                         :rules="[ val => val && val.length > 4|| 'Der Titel ist zu kurz, mind. 4 Zeichen sind notwendig']"
                         dense
                         label="Titel"
                />
              </q-item-section>
            </q-item>
            <q-item class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input v-model="content" dense
                         label="Inhalt"
                         :rules="[ val => val && val.length > 50 || 'Der Inhalt ist zu kurz, mind. 50 Zeichen sind notwendig']"
                         type="textarea"/>
              </q-item-section>
            </q-item>


          </q-list>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn class="text-capitalize bg-dark" type="reset">Zurücksetzen</q-btn>
          <q-btn class="text-capitalize bg-primary" type="submit">Speichern</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-page>

</template>

<script lang="ts">
import {defineComponent, Ref, ref} from 'vue'
import {GroupEntryRequestStatus} from "src/models/entities/group-entry-request";
import {UserDataService} from "src/services/data-service/user-data-service";
import {GroupSelectOption} from "src/models/DTOs/group-select-option";
import {CreatePieceOfNewsReq} from "src/api-client/models/piece-of-news/requests/create";
import {GroupOfMember} from "src/models/DAOs/group-of-member";
import pieceOfNewsClient from "src/api-client/clients/restricted/piece-of-news-client";


export default defineComponent({
  name: 'PieceOfNewsCreateView',
  data() {

    return {
      GroupEntryRequestStatus,
      userGroups: null as GroupOfMember[] | null,
      userGroupSelectOptions: null as GroupSelectOption[] | null,
      selectedGroup: ref(null) as Ref<null> | Ref<GroupSelectOption>,
      title: ref(null),
      content: ref(null)
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.userGroups = await UserDataService.getUserGroups();
      this.userGroupSelectOptions = GroupSelectOption.fromGroups(this.userGroups)
    },
    onSubmit() {

      const selectedGroupRepresantationId = this.userGroups!.find(x => x.GroupId === this.selectedGroup!.Value)!.GroupRepresantationId
      const req = new CreatePieceOfNewsReq(selectedGroupRepresantationId!, this.title!, this.content!)
      pieceOfNewsClient.create(req).subscribe(next => {
        this.$router.push({name: "group-detail", params: {group: this.selectedGroup!.Label}});
      })
      console.log("sending create msg request...", selectedGroupRepresantationId)
    },
    onReset() {
      this.selectedGroup = null
      this.title = null
      this.content = null
    }
  },


})
</script>
