<template>
  <q-page class="q-pa-sm">
    <div class="text-h6 q-ma-md">Gruppe erstellen</div>
    <q-separator/>
    <q-card class="card-bg text-white">
      <q-form
        class="q-gutter-md"
        @reset="onReset"
        @submit="onSubmit"
      >
        <q-card-section class="q-pa-sm">
          <q-list class="row">

            <q-item class="col-12">
              <q-item-section>
                <q-input v-model="name"
                         :rules="[ val => val && val.length > 4|| 'Der Name ist zu kurz, mind. 4 Zeichen sind notwendig']"
                         dense
                         label="Name"
                />
              </q-item-section>
            </q-item>
            <q-item class="col-12">
              <q-item-section>
                <q-input v-model="category"
                         :rules="[ val => val && val.length > 4|| 'Die Kategorie ist zu kurz, mind. 4 Zeichen sind notwendig']"
                         dense
                         label="Kategorie"
                />
              </q-item-section>
            </q-item>
            <q-item class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <q-item-section>
                <q-input v-model="description" dense
                         label="Beschreibung"
                         :rules="[ val => val && val.length > 100 || 'Der Inhalt ist zu kurz, mind. 100 Zeichen sind notwendig']"
                         type="textarea"/>
              </q-item-section>
            </q-item>


          </q-list>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn class="text-capitalize bg-dark" type="reset">Zurücksetzen</q-btn>
          <q-btn class="text-capitalize bg-primary" type="submit">Speichern</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-page>

</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import {CreateGroupReq} from "src/api-client/models/group/requests/create";
import groupClient from "src/api-client/clients/restricted/group-client";


export default defineComponent({
  name: 'GroupCreateView',
  data() {

    return {
      name: ref(null),
      category: ref(null),
      description: ref(null)
    }
  },
  created() {
  },
  methods: {
    onSubmit() {
      const req = new CreateGroupReq(this.name!, this.category!, this.description!)
      groupClient.create(req).subscribe(next => {
        this.$router.push({name: "user-groups"})
      })
    },
    onReset() {
      this.name = null
      this.description = null
      this.category = null
    }
  },
})
</script>
