<template>
  <q-dialog :model-value="wantDelete" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <span class="q-ml-sm">Willst du diese Gruppe wirklich löschen?</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Abbrechen" @click="$emit('update:wantDelete', false)" color="negative" v-close-popup/>
        <q-btn flat label="Ja" @click="$emit('update:wantDelete', false); $emit('confirm')" color="positive"
               v-close-popup/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
export default {
  name: "DeleteGroupConfirm",
  props: {
    wantDelete: false as boolean
  }
}
</script>

<style scoped>

</style>
