<template>
  <q-card class="text-black" v-if="data">
    <q-chip class="absolute z-fab" color="secondary" style="border-radius: inherit !important;"
            text-color="white">{{ data.Category }}
    </q-chip>
    <q-img :src="data.Img">
      <template v-slot:loading>
        <div class="text-subtitle1 text-black">
          Loading...
        </div>
      </template>
    </q-img>
    <q-separator></q-separator>
    <q-card-section class="text-h5 text-center">{{ data.Name }}</q-card-section>
    <q-card-section class="text-justify">
      <div>{{ data.Description }}</div>
    </q-card-section>
    <q-card-actions>
      <template v-if="userIsMember(data.Name)">
        <q-btn
          class="bg-transparent text-capitalize"
          color
          flat
          @click="wantLeave = true"
          icon="group_remove"
          label="Austreten"
        />
      </template>
      <template v-else>
        <q-btn
          :disable="!userIsLoggedIn"
          class="bg-transparent text-capitalize"
          color
          flat
          icon="group_add"
          label="Beitreten"
          @click="sendEntryRequestToGroup(data.Name)"
        >
          <q-tooltip v-if="!userIsLoggedIn">
            Du bist nicht angemeldet.
          </q-tooltip>
        </q-btn>
      </template>
      <q-space/>
      <q-btn :to="{ name: 'group-detail',
                              params: {
                                  group: data.Name,}
                }"
             class="bg-transparent" color flat icon="read_more" label="mehr"/>
    </q-card-actions>
  </q-card>

  <leave-group-confirm v-model:want-leave="wantLeave" @confirm="leaveGroup"></leave-group-confirm>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue';
import {useUserDataStore} from "src/stores/user-data-store";
import userEntryRequestClient from "src/api-client/clients/restricted/user-entry-request-client";
import {CreateUserEntryRequestReq} from "src/api-client/models/user-entry-request/requests/create";
import {UserDataService} from "src/services/data-service/user-data-service";
import LeaveGroupConfirm from "src/components/shared/group-specific/LeaveGroupConfirm.vue";

export default defineComponent({
  name: 'GroupCard',
  props: {
    data: null as any
  },
  components: {
    LeaveGroupConfirm
  },
  setup(props: any) {
    return {
      wantLeave: ref(false),
    }
  },
  methods: {
    sendEntryRequestToGroup(groupName: string) {
      let username = useUserDataStore().user?.Username
      if (!username) return;
      let req: CreateUserEntryRequestReq = {
        RelatedGroupName: groupName,
        IssuerName: username
      }
      userEntryRequestClient.create(req).subscribe()
    },
    leaveGroup() {
      UserDataService.leaveGroup(this.data.GroupId)
    }
  },
  computed: {
    userIsMember(): any {
      return (group: string) =>
        useUserDataStore().userGroups?.find(x => x.Name === group) != null
    },
    userIsLoggedIn() {
      return useUserDataStore().loggedIn
    },

  },
})
</script>

<style scoped>

</style>
