<template>
  <q-page>
    <q-card class="mt bg-transparent no-shadow no-border">
      <template v-if="!loading">
        <q-card-section class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <!--          <div class="text-h6 float-left q-ml-md q-mt-sm">Pagination With Filters</div>-->
            <q-space/>
            <q-select v-model="category" :options="getCategories" class="float-right" dense label="Kategorie"
                      outlined style="min-width: 200px"/>
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-pagination
            v-model="page"
            :input="true"
            :max="Math.ceil(getDataFiltered().length/maxElementsPerPage)"
            input-class="text-dark"
          >
          </q-pagination>
        </q-card-actions>
        <q-card-section class="q-mx-sm">
          <div class="row q-col-gutter-lg">
            <div v-for="data in getDataFilteredAndPaged" class="col-lg-3 col-sm-12 col-xs-12 col-md-3">
              <group-card :data="data"></group-card>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <q-pagination
            v-model="page"
            :input="true"
            :max="Math.ceil(getDataFiltered().length/maxElementsPerPage)"
            input-class="text-dark"
          >
          </q-pagination>
        </q-card-actions>
      </template>
      <template v-else>
        <div class="flex flex-center">
          <q-spinner-oval class="q-mt-xl" color="secondary" size="50px"></q-spinner-oval>
        </div>
      </template>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue';
import GroupCard from "src/components/shared/group-specific/GroupCard.vue";
import {QSpinner} from "quasar";

export default defineComponent({
  name: 'GroupsPaginated',
  components: {GroupCard, QSpinner},
  props: {
    cards_data: [] as any,
    loading: {
      type: Boolean,
      default: true
    },
  },
  setup(props: any) {
    return {
      category: ref('Alle'),
      page: ref(1),
      maxElementsPerPage: ref(10),
    }
  },
  methods: {
    getDataFiltered(): any {
      if (this.category == 'Alle') {
        return this.$props.cards_data
      } else {
        let self = this
        return self.$props.cards_data?.filter(function (item: any) {
          return item.Category?.toLowerCase() == self.category.toLowerCase()
        })
      }
    },
  },
  computed: {
    getDataFilteredAndPaged(): any {
      return this.getDataFiltered().slice((this.page - 1) * this.maxElementsPerPage, (this.page - 1) * this.maxElementsPerPage + this.maxElementsPerPage)
    },
    getCategories(): any {
      let categoriesSet = new Set(this.$props.cards_data?.map((x: any) => x.Category));
      const categories = Array.from(categoriesSet.values())
      categories.push('Alle')
      return categories
    },
  },
})
</script>

<style scoped>

</style>
