<template>
  <q-card class="no-box-shadow no-border">
    <q-card-actions align="center">
      <q-pagination
        v-model="page"
        :input="true"
        :max="Math.ceil(newsListInjected.length/maxPieceOfNewsPerPage)"
        input-class="dark"
      >
      </q-pagination>
    </q-card-actions>
    <q-list class="rounded-borders" separator>
      <q-item v-for="news in getDataPaged" :key="news.NewsId">
        <q-item-section avatar>
          <q-avatar>
            <img :src="userAvatars ? userAvatars[Math.floor(Math.random() * userAvatars.length)] : ''">
          </q-avatar>
        </q-item-section>

        <q-item-section style="max-width: 300px">
          <q-item-label class="text-grey-8 text-subtitle2">{{ news.AuthorName }}</q-item-label>
          <q-item-label class="text-grey-8 text-weight-bold text-subtitle1">
            {{ news.Title }}
          </q-item-label>
          <q-item-label caption>
            {{ $filter.formatDate(news.CreatedAt) }}
          </q-item-label>
        </q-item-section>

        <q-item-section class="full-width">
          {{ news.Content }}
        </q-item-section>


        <q-item-section v-show="loggedInUserIsAuthor(news.AuthorName) || loggedInUserIsModerator" side>
          <q-item clickable>
            <q-item-section>
              <q-icon color="dark" unelevated flat name="more_vert">
                <!--   Menu components started here  -->
                <q-menu auto-close>
                  <q-list>
                    <q-item clickable>
                      <q-item-section class="text-negative">
                    <span v-show="loggedInUserIsAuthor(news.AuthorName)"
                          @click="() => {wantDeletePieceOfNewsId = news.NewsId; wantDeletePieceOfNews = true}">
                      Löschen
                    </span>
                        <span v-show="!loggedInUserIsAuthor(news.AuthorName) && loggedInUserIsModerator"
                              @click="() => {wantDeleteForeignPieceOfNewsId = news.NewsId; wantDeleteForeignPieceOfNews = true}">
                      Löschen
                    </span>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-icon>
            </q-item-section>
          </q-item>
        </q-item-section>
      </q-item>
    </q-list>
    <q-card-actions align="center">
      <q-pagination
        v-model="page"
        :input="true"
        :max="Math.ceil(newsListInjected.length/maxPieceOfNewsPerPage)"
        input-class="dark"
      >
      </q-pagination>
    </q-card-actions>
  </q-card>
  <delete-piece-of-news-confirm v-model:want-delete="wantDeletePieceOfNews"
                                @confirm="deletePieceOfNews"></delete-piece-of-news-confirm>
  <delete-piece-of-news-confirm v-model:want-delete="wantDeleteForeignPieceOfNews"
                                @confirm="deleteForeignPieceOfNews"></delete-piece-of-news-confirm>
</template>

<script lang="ts">
import {defineComponent, inject, Ref, ref} from 'vue'
import {GroupDetailPieceOfNews} from "src/models/DAOs/group-detail-piece-of-news";
import {userAvatars} from "src/services/data-service/user-data";
import {useUserDataStore} from "src/stores/user-data-store";
import pieceOfNewsClient from "src/api-client/clients/restricted/piece-of-news-client";
import DeletePieceOfNewsConfirm from "src/components/shared/news-specific/DeletePieceOfNewsConfirm.vue";
import groupModeratorClient from "src/api-client/clients/restricted/group-moderator-client";

export default defineComponent({
  name: 'GroupDetailNewsList',
  components: {
    DeletePieceOfNewsConfirm
  },
  setup() {
    const newsListInjected: null | GroupDetailPieceOfNews[] | undefined = inject('news')
    const groupName: null | string | undefined = inject('group')
    return {
      userAvatars,
      newsListInjected,
      newsList: ref(null) as Ref<null> | Ref<GroupDetailPieceOfNews[]>,
      groupName,
      page: ref(1),
      maxPieceOfNewsPerPage: ref(10),
      wantDeletePieceOfNews: ref(false),
      wantDeleteForeignPieceOfNews: ref(false),
      wantDeletePieceOfNewsId: ref(null) as Ref<null> | Ref<string>,
      wantDeleteForeignPieceOfNewsId: ref(null) as Ref<null> | Ref<string>,
    }
  },
  watch: {
    // whenever question changes, this function will run
    newsListInjected: {
      handler(newV: any, oldV: any) {
        if (newV != null) {
          console.log("news list initiated...", newV)
          this.newsList = this.newsListInjected as GroupDetailPieceOfNews[]
        }
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    deletePieceOfNews() {
      pieceOfNewsClient.delete(this.wantDeletePieceOfNewsId!).subscribe(next => {
        this.newsList = this.newsList!.filter(x => x.NewsId != this.wantDeletePieceOfNewsId!)
      })
      this.wantDeletePieceOfNewsId = null
    },
    deleteForeignPieceOfNews() {
      groupModeratorClient.deleteNews(this.wantDeleteForeignPieceOfNewsId!).subscribe(next => {
        this.newsList = this.newsList!.filter(x => x.NewsId != this.wantDeleteForeignPieceOfNewsId!)
      })
      this.wantDeleteForeignPieceOfNewsId = null
    }
  },
  computed: {
    getDataPaged(): any {
      return this.newsList?.slice((this.page - 1) * this.maxPieceOfNewsPerPage, (this.page - 1) * this.maxPieceOfNewsPerPage + this.maxPieceOfNewsPerPage)
    },
    loggedInUserIsAuthor(): any {
      return (authorName: string): boolean => useUserDataStore().user?.Username === authorName
    },
    loggedInUserIsModerator(): any {
      return useUserDataStore().isModeratorOfGroup(this.groupName)
    },
  }
})
</script>
