<template>
  <div class="col-12">
    <q-card class="fit">
      <q-tabs
        v-model="tab"
        active-color="primary"
        align="justify"
        class="text-grey"
        dense
        indicator-color="primary"
      >
        <q-tab :class="tab=='news'?'secondary':''" icon="comment" label="News" name="news">
        </q-tab>
        <q-tab :class="tab=='members'?'secondary':''" icon="contacts" label="Mitglieder" name="members">
          <q-badge color="accent" floating>{{ members.length }}</q-badge>
        </q-tab>
      </q-tabs>

      <q-separator/>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel class="q-pa-sm" name="members">
          <group-detail-member-list></group-detail-member-list>
        </q-tab-panel>

        <q-tab-panel class="q-pa-sm" name="news">
          <group-detail-news-list></group-detail-news-list>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>


</template>

<script lang="ts">
import {defineComponent, inject, ref} from 'vue'
import GroupDetailNewsList from "src/components/shared/group-specific/GroupDetailNewsList.vue";
import GroupDetailMemberList from "src/components/shared/group-specific/GroupDetailMemberList.vue";
import {GroupMemberDAO} from "src/models/DAOs/group-member";

export default defineComponent({
  name: 'GroupDetailTabs',
  components: {
    GroupDetailMemberList,
    GroupDetailNewsList
  },
  setup() {
    const members: null | GroupMemberDAO[] | undefined = inject('members')
    return {
      members,
      tab: ref('news'),
    }
  },
})
</script>
