<template>
  <q-card class="no-box-shadow no-border">
    <q-card-actions align="center">
      <q-pagination
        v-model="page"
        :input="true"
        :max="Math.ceil(members.length/maxMembersPerPage)"
        input-class="dark"
      >
      </q-pagination>
    </q-card-actions>
    <q-list class="rounded-borders" separator>
      <q-item
        v-for="(member, index) in getDataPaged"
        :key="index"
      >
        <q-item-section avatar>
          <q-avatar>
            <img :src="userAvatars ? userAvatars[Math.floor(Math.random() * userAvatars.length)] : ''">
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">{{ member.Name }}</q-item-label>
          <q-item-label v-if="GroupMemberHasNoteableRole(member)" caption lines="2">
            <span class="text-weight-bold">{{ GetGroupMemberRoleName(member) }}</span>
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-item clickable>
            <q-item-section>
              <q-icon color="dark" flat name="more_vert" unelevated>
                <!--   Menu components started here  -->
                <q-menu auto-close>
                  <q-list>
                    <q-item clickable>
                      <q-item-section>
                        <q-btn class="gt-xs" color="blue" disable flat icon="message" round size="md"/>
                      </q-item-section>

                    </q-item>

                    <q-item v-show="loggedInUserIsAdmin" clickable
                            @click="() => {wantRemoveMemberId = member.GroupMemberId; wantRemoveMember = true}">
                      <q-item-section class="text-negative">
                        Löschen
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-icon>
            </q-item-section>
          </q-item>
        </q-item-section>
      </q-item>
    </q-list>
    <q-card-actions align="center">
      <q-pagination
        v-model="page"
        :input="true"
        :max="Math.ceil(members.length/maxMembersPerPage)"
        input-class="dark"
      >
      </q-pagination>
    </q-card-actions>
  </q-card>

  <remove-member-confirm v-model:want-delete="wantRemoveMember"
                         @confirm="removeMember"></remove-member-confirm>
</template>

<script lang="ts">
import {defineComponent, inject, Ref, ref} from 'vue'
import {GetGroupMemberRoleName, GroupMemberDAO, GroupMemberHasNoteableRole} from "src/models/DAOs/group-member";
import {userAvatars} from "src/services/data-service/user-data";
import {useUserDataStore} from "src/stores/user-data-store";
import RemoveMemberConfirm from "src/components/shared/group-specific/RemoveMemberConfirm.vue";
import groupAdminClient from "src/api-client/clients/restricted/group-admin-client";

export default defineComponent({
  name: 'GroupDetailMemberList',
  components: {RemoveMemberConfirm},
  setup() {
    const members: null | GroupMemberDAO[] | undefined = inject('members')
    const groupName: null | string | undefined = inject('group')
    return {
      GroupMemberHasNoteableRole,
      GetGroupMemberRoleName,
      userAvatars,
      page: ref(1),
      maxMembersPerPage: ref(10),
      members,
      groupName,
      wantRemoveMember: ref(false),
      wantRemoveMemberId: ref(null) as Ref<null> | Ref<string>,
    }
  },
  computed: {
    getDataPaged(): any {
      return this.members?.slice((this.page - 1) * this.maxMembersPerPage, (this.page - 1) * this.maxMembersPerPage + this.maxMembersPerPage)
    },
    loggedInUserIsAdmin(): any {
      return useUserDataStore().isAdminOfGroup(this.groupName)
    },
  },
  methods: {
    removeMember() {
      groupAdminClient.deleteGroupMember(this.wantRemoveMemberId!).subscribe()
      this.wantRemoveMemberId = null;
    }
  }
})
</script>
