<template>
  <div class="q-pa-md">
    <q-table
      v-if="membersForTable"
      v-model:selected="selected"
      :columns="columns"
      :loading="loading"
      :pagination="pagination"
      :rows="membersForTable"
      class="no-box-shadow"
      loading-label="laden..."
      row-key="name"
    >
      <template v-slot:body-cell-Name="props">
        <q-td :props="props">
          <q-item style="max-width: 420px">
            <q-item-section avatar>
              <q-avatar>
                <img :src="userAvatars ? userAvatars[Math.floor(Math.random() * userAvatars.length)] : ''">
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ props.row.Name }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-AdminRole="props">
        <q-td :props="props">
          <q-item>
            <q-item-section>
              <q-toggle
                v-model="props.row.NewRoles"
                color="accent"
                val="Admin"
              />
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-ModeratorRole="props">
        <q-td :props="props">
          <q-item>
            <q-item-section>
              <q-toggle
                v-model="props.row.NewRoles"
                color="accent"
                val="Moderator"
              />
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-StdRole="props">
        <q-td :props="props">
          <q-item>
            <q-item-section>
              <q-toggle
                v-model="props.row.NewRoles"
                color="accent"
                val="Standard"
              />
            </q-item-section>
          </q-item>
        </q-td>
      </template>
      <template v-slot:body-cell-Action="props">
        <q-td :props="props">
          <q-btn :disable="!groupMemberRolesChanged(props.row)" dense flat icon="save"
                 label="Speichern" @click="saveRoles(props.row.GroupMemberId, props.row.NewRoles)"/>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script lang="ts">
import {defineAsyncComponent, defineComponent, inject, reactive, ref} from 'vue';
import {GroupCard} from "src/models/group-card";
import {UserDataService} from "src/services/data-service/user-data-service";
import {storeToRefs} from "pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import SubToolbar from "src/components/shared/sub-toolbar.vue";
import {ForeignUserDAO} from "src/models/DAOs/foreign-user";
import groupAdminClient from "src/api-client/clients/restricted/group-admin-client";
import {useRoute} from "vue-router";
import {userAvatars} from "src/services/data-service/user-data";
import {
  GroupMemberDAO,
  GroupMemberDAOForRolesAdministration,
  groupMemberRolesChanged,
  toGroupMemberDAOForRolesAdministration
} from "src/models/DAOs/group-member";

const columns = [
  {
    name: 'Name',
    required: true,
    label: '',
    align: 'left',
    field: (row: any) => row.Name,
    format: (val: any) => `${val}`,
    sortable: true
  },
  {
    name: 'AdminRole', align: 'center',
    label: 'Administrator',
    field: (row: any) => row.NewRoles,
    format: (val: any) => `
    ${val}
    `,
  },
  {
    name: 'ModeratorRole', align: 'center',
    label: 'Moderator',
    field: (row: any) => row.NewRoles,
    format: (val: any) => `
    ${val}
    `,
  },
  {
    name: 'StdRole', align: 'center',
    label: 'Standard',
    field: (row: any) => row.NewRoles,
    format: (val: any) => `
    ${val}
    `,
  },
  {
    name: 'Action', align: 'right',
  },
]

export default defineComponent({
  name: "MemberRolesAdministrationTable",
  components: {},
  data() {
    const groupName = useRoute().params.group.toString()
    let members: null | GroupMemberDAO[] | undefined = []
    let membersForTable = ref(null)
    return {
      pagination: ref({
        rowsPerPage: 10,
      }),
      columns,
      members,
      loading: true,
      membersForTable,
      groupName,
      groupMemberRolesChanged,
      userAvatars,
      ref,
      selected: ref([]),
    }
  },
  created() {
    let members = inject('members');
    this.members = members as GroupMemberDAO[]
  },
  watch: {
    // whenever question changes, this function will run
    members: {
      handler(newMembers, oldQuestion) {
        console.log("members changed...", newMembers)
        if (newMembers != null) {
          let members = toGroupMemberDAOForRolesAdministration((this.members as GroupMemberDAO[])!);
          this.membersForTable = reactive(members!)
          this.loading = false
        }
      },
      immediate: true
    }
  },
  computed: {
    getAdminMemberId(): any {
      return useUserDataStore().getMemberIdByGroup(this.groupName)
    },
  },
  methods: {
    saveRoles(groupMemberId: string, roles: string[]) {
      console.log("save member roles with data:", groupMemberId, roles);
      ((this.membersForTable as any).find((x: any) => x.GroupMemberId === groupMemberId) as any).Roles = roles
      groupAdminClient.editMemberRoles(groupMemberId, roles).subscribe()
    }
  }
})
</script>

<style scoped>

</style>
