<template>
  <news-list-paginated :news-list="cards_data"></news-list-paginated>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import NewsCard from "src/components/shared/news-specific/NewsCard.vue";
import {PieceOfNewsDetail} from "src/models/entities/piece-of-news";
import pieceOfNewsClient from "src/api-client/clients/public/piece-of-news-client";
import NewsListPaginated from "src/components/shared/news-specific/NewsListPaginated.vue";


export default defineComponent({
  name: "NewsListOverview",
  components: {
    NewsListPaginated,
    NewsCard,
  },
  data() {
    return {
      cards_data: [] as PieceOfNewsDetail[]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      await pieceOfNewsClient.getList().subscribe(resp => {
        this.cards_data = resp.data.Data
      })
    }
  },
})
</script>

<style scoped>

</style>
