<template>
  <q-toolbar class="GNL__toolbar z-max">

    <q-btn
      aria-label="Menu"
      class="q-mr-sm"
      dense
      flat
      icon="menu"
      round
      @click="$q.screen.gt.sm?toogleMiniState():toggleLeftDrawer()"
    />

    <q-toolbar-title v-if="$q.screen.gt.xs" class="row items-center no-wrap" shrink>
      <!--          <img src="https://cdn.quasar.dev/img/layout-gallery/logo-google.svg">-->
      Groups
    </q-toolbar-title>

    <q-space/>

    <q-input v-model="search" class="GNL__toolbar-input" color="bg-grey-7 shadow-1" dense outlined
             placeholder="Suche nach News und Gruppen">
      <template v-slot:prepend>
        <q-icon v-if="search === ''" name="search"/>
        <q-icon v-else class="cursor-pointer" name="clear" @click="search = ''"/>
      </template>
      <template v-slot:append>
        <q-btn
          aria-label="Menu"
          dense
          flat
          icon="arrow_drop_down"
          round
        >
        </q-btn>
      </template>
    </q-input>

    <q-space/>

    <div class="q-gutter-sm row items-center no-wrap">
      <q-btn v-if="$q.screen.gt.sm" :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="grey-8"
             dense flat
             round
             @click="$q.fullscreen.toggle()">
      </q-btn>
      <template v-if="memberIsLoggedIn">
        <q-btn color="grey-8" dense flat icon="notifications" round>
          <q-badge color="accent" floating text-color="white">
            2
          </q-badge>
          <q-tooltip>Benachrichtigungen</q-tooltip>
        </q-btn>
        <q-btn :to="{name: 'profile'}" flat round>
          <q-avatar size="26px">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
          <q-tooltip>Profil</q-tooltip>
        </q-btn>
        <q-btn color="text-grey-7" dense flat icon="logout" round @click="logout">
          <q-tooltip>Abmelden</q-tooltip>
        </q-btn>
      </template>
      <template v-else>
        <q-btn :to="{name: 'login'}" color="text-grey-7" dense flat icon="login" round>
          <q-tooltip>Anmelden</q-tooltip>
        </q-btn>
        <q-btn :to="{name: 'register'}" color="text-grey-7" dense flat icon="app_registration" round>
          <q-tooltip>Registrieren</q-tooltip>
        </q-btn>
      </template>
    </div>
  </q-toolbar>
</template>

<script>
import {defineComponent, ref} from 'vue'
import {useQuasar} from "quasar";
import {storeToRefs} from "pinia/dist/pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import {useLayoutStore} from "src/stores/layout-store";


const links1 = [
  {icon: 'move_to_inbox', text: 'Inbox'},
  {icon: 'star', text: 'Stared'},
  {icon: 'send', text: 'Sent'},
  {icon: 'error', text: 'Spam'}
];
const links2 = [
  {icon: 'flag', text: 'Updates', color: 'text-orange'},
  {icon: 'group', text: 'Social', color: 'text-red'},
  {icon: 'label', text: 'Promos', color: 'text-indigo-8'},
  {icon: 'forum', text: 'Forums', color: 'text-teal'}
];

export default defineComponent({
  name: 'TopBar',
  setup() {

    const $q = useQuasar()

    // $q.screen.setSizes({ sm: 300, md: 500, lg: 1000, xl: 2000 })

    const leftDrawerOpen = ref(false)
    const miniState = ref(false)

    return {
      layoutStore: useLayoutStore(),
      search: '',
      memberIsLoggedIn: storeToRefs(useUserDataStore()).loggedIn,
      user: storeToRefs(useUserDataStore()).user,
      memberDataStore: useUserDataStore(),
    }
  },
  methods: {
    logout() {
      console.log("logout...")
      this.memberDataStore.clearMember()
    },
    toggleLeftDrawer() {
      console.log("toggleLeftDrawer...")
      this.layoutStore.toggleLeftDrawer()
    },
    toogleMiniState() {
      console.log("toogleMiniState...")
      this.layoutStore.toggleMiniState()
    }
  }

})
</script>

<style>
.GNL__toolbar {
  height: 64px;
}

.GNL__toolbar-input {
  width: 55%;
}

.GNL__drawer-item {
  line-height: 24px;
  border-radius: 0 24px 24px 0;
  margin-right: 12px;
}

.GNL__drawer-item .q-item__section--avatar .q-icon {
  color: #5f6368;
}

.GNL__drawer-item .q-item__label {
  color: #3c4043;
  letter-spacing: .01785714em;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.GNL__drawer-footer-link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: .75rem;
}

.GNL__drawer-footer-link:hover {
  color: #000;
}
</style>
