<template>
  <q-card class="bg-transparent no-shadow no-border">

    <q-card-section class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <!--          <div class="text-h6 float-left q-ml-md q-mt-sm">Pagination With Filters</div>-->
        <q-space/>
        <q-select v-model="category" :options="getCategories" class="float-right" dense label="Kategorie"
                  outlined style="min-width: 200px"/>
      </div>
    </q-card-section>
    <q-card-actions align="center">
      <q-pagination
        v-model="page"
        :input="true"
        :max="Math.ceil(getDataFiltered().length/maxPieceOfNewsPerPage)"
        :min="currentPage"
        input-class="text-dark"
      >
      </q-pagination>
    </q-card-actions>
    <q-card-section class="q-mx-sm">
      <div class="row q-col-gutter-lg">
        <div v-if="newsList" class="col-lg-4 col-md-4 col-xs-12 col-sm-12"
             v-for="(data,index) in getDataFilteredAndPaged">
          <news-card class="col-lg-4 fit col-md-4 col-sm-12 col-xs-12"
                     :author_avatar="userAvatars ? userAvatars[Math.floor(Math.random() * userAvatars.length)] : ''"
                     :author="data.AuthorName"
                     :group="data.GroupName"
                     :content="data.Content"
                     :category="data.Category"
                     :created_at="data.CreatedAt"
                     :news_id="data.NewsId"
                     :title="data.Title"></news-card>
        </div>
      </div>
    </q-card-section>
    <q-card-actions align="center">
      <q-pagination
        v-model="page"
        :input="true"
        :max="Math.ceil(getDataFiltered().length/maxPieceOfNewsPerPage)"
        :min="currentPage"
        input-class="text-dark"
      >
      </q-pagination>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
import {userAvatars} from "src/services/data-service/user-data";
import NewsCard from "src/components/shared/news-specific/NewsCard.vue";

export default defineComponent({
  name: 'NewsListPaginated',
  components: {
    NewsCard
  },
  props: {
    newsList: [] as any
  },
  setup(props: any) {

    return {
      category: ref('Alle'),
      page: ref(1),
      currentPage: ref(1),
      newsNextPage: ref(null),
      maxPieceOfNewsPerPage: ref(10),
      userAvatars
    }
  },
  methods: {
    getDataFiltered(): any {
      if (this.category == 'Alle') {
        return this.$props.newsList
      } else {
        let self = this
        return self.$props.newsList?.filter(function (item: any) {
          return item.Category?.toLowerCase() == self.category.toLowerCase()
        })
      }
    },
  },
  computed: {
    getDataFilteredAndPaged(): any {
      return this.getDataFiltered().slice((this.page - 1) * this.maxPieceOfNewsPerPage, (this.page - 1) * this.maxPieceOfNewsPerPage + this.maxPieceOfNewsPerPage)
    },
    getCategories(): any {
      let categoriesSet = new Set(this.$props.newsList?.map((x: any) => x.Category));
      const categories = Array.from(categoriesSet.values())
      categories.push('Alle')
      return categories
    },
  },
})
</script>

<style scoped>

</style>
