<template>
  <q-card>
    <q-item>
      <q-item-section avatar>
        <q-avatar class="shadow-10" size="60px">
          <img :src="author_avatar">
        </q-avatar>
      </q-item-section>

      <q-item-section>
        <q-item class="text-grey-8 text-subtitle2">
          <q-item-section>
            <span class="text-indigo-8 text-weight-bold" style="text-decoration: none">{{ author }}</span>
          </q-item-section>
        </q-item>
        <q-item-label class="text-grey-8 text-weight-bold text-subtitle1">
          {{ title }}
        </q-item-label>
        <q-item-label caption>
          {{ $filter.formatDate(created_at) }}
        </q-item-label>
      </q-item-section>

      <q-item-section side>
        <q-chip color="secondary" square text-color="white">{{ category }}</q-chip>
        <q-chip color="transparent" square>{{ group }}</q-chip>
      </q-item-section>
    </q-item>
    <q-separator></q-separator>
    <q-card-section>
      <div class="q-pa-sm text-grey-8">
        <q-item-section>
          <p style="word-wrap: anywhere">
            {{ content }}
          </p>
        </q-item-section>
      </div>
    </q-card-section>
    <q-card-actions>
      <q-space></q-space>
      <q-btn v-if="loggedInUserIsAuthor" color="dark" flat icon="more_vert">
        <!--   Menu components started here  -->
        <q-menu>
          <q-list style="min-width: 100px">
            <q-item v-if="loggedInUserIsAuthor" clickable @click="wantDelete = true">
              <q-item-section text-color="negative">
                Löschen
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-card-actions>
  </q-card>
  <delete-piece-of-news-confirm v-model:want-delete="wantDeletePieceOfNews"
                                @confirm="deletePieceOfNews"></delete-piece-of-news-confirm>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import {useUserDataStore} from "src/stores/user-data-store";
import pieceOfNewsClient from "src/api-client/clients/restricted/piece-of-news-client";
import DeletePieceOfNewsConfirm from "src/components/shared/news-specific/DeletePieceOfNewsConfirm.vue";

export default defineComponent({
  name: "NewsCard",
  components: {DeletePieceOfNewsConfirm},
  props: ['author_avatar', 'author', 'group', 'title', 'content', 'category', 'created_at', 'news_id'],
  data() {
    return {
      wantDeletePieceOfNews: ref(false),
    }
  },
  methods: {
    deletePieceOfNews() {
      pieceOfNewsClient.delete(this.news_id).subscribe()
    }
  },
  computed: {
    loggedInUserIsAuthor(): any {
      return useUserDataStore().user?.Username === this.$props.author
    },
    authorCanBeInvited(): any {
      return useUserDataStore().user?.Username === this.$props.author
    },
  }
})
</script>

<style scoped>

</style>
