<template>
    <div class="q-pa-md">
      <q-table
        v-model:selected="selected"
        :columns="columns"
        :pagination="pagination"
        :loading="loading"
        loading-label="laden..."
        :rows="users"
        row-key="name"
        class="no-box-shadow"
      >
        <template v-slot:body-cell-UserName="props">
          <q-td :props="props">
            <q-item style="max-width: 420px">
              <q-item-section avatar>
                <q-avatar>
                  <img :src="userAvatars ? userAvatars[Math.floor(Math.random() * userAvatars.length)] : ''">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                <q-item-label>{{ props.row.UserName }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-td>
        </template>
        <template v-slot:body-cell-Action="props">
          <q-td :props="props">
            <q-btn icon="insert_invitation" flat dense @click="inviteUser(props.row.UserId)"/>
          </q-td>
        </template>
      </q-table>
    </div>
</template>

<script lang="ts">
import {defineAsyncComponent, defineComponent, ref} from 'vue';
import {GroupCard} from "src/models/group-card";
import {UserDataService} from "src/services/data-service/user-data-service";
import {storeToRefs} from "pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import SubToolbar from "src/components/shared/sub-toolbar.vue";
import {ForeignUserDAO} from "src/models/DAOs/foreign-user";
import groupAdminClient from "src/api-client/clients/restricted/group-admin-client";
import {useRoute} from "vue-router";
import {userAvatars} from "src/services/data-service/user-data";

const columns = [
  {
    name: 'UserName',
    required: true,
    label: '',
    align: 'left',
    field: (row: any) => row.UserName,
    format: (val: any) => `${val}`,
    sortable: true
  },
  {
    name: 'NewsCount', align: 'center',
    label: 'News Anzahl',
    field: (row: any) => row.NewsCount,
    format: (val: any) => `
    ${val}
    `,
    sortable: true
  },
  {
    name: 'Action', align: 'right',
  },
]

export default defineComponent({
  name: "ForeignUsersForInvitationOverview",
  components: {
    GroupsPaginated: defineAsyncComponent(() => import('src/components/shared/group-specific/GroupsPaginated.vue')),
    SubToolbar,
  },
  data() {
    const groupName = useRoute().params.group.toString()
    return {
      pagination: ref({
        rowsPerPage: 10,
      }),
      loading: true,
      columns,
      groupName,
      userAvatars,
      selected: ref([]),
      users: [] as ForeignUserDAO[] | null,
      memberIsLoggedIn: storeToRefs(useUserDataStore()).loggedIn,
    }
  },
  created() {
    this.fetchData()
  },
  computed: {
    getAdminMemberId(): any {
      return useUserDataStore().getMemberIdByGroup(this.groupName)
    },
  },
  methods: {
    async fetchData() {
      groupAdminClient.getUsersForInvitation(this.groupName).subscribe(res => {
        this.users = res.data.Data;
      }, null, () => {
        this.loading = false
      })
    },
    inviteUser(userId: string) {
      console.log("invite user with data:", userId)
      const memberId = this.getAdminMemberId
      groupAdminClient.inviteUser({UserId: userId, IssuerId: memberId}).subscribe(res => {
      })
        this.users = this.users!.filter(x => x.UserId !== userId)
    }
  },
})
</script>

<style scoped>

</style>
