<template>
  <q-page class="q-pa-sm">

    <div class="q-ml-md relative-position row items-center">
      <div class="text-h3 q-mr-md">
        {{ groupName }}-Administration
      </div>
    </div>
    <q-separator/>

    <div class="row q-py-md">
      <div class="col-12">
        <q-card class="fit">
          <q-tabs
            v-model="tab"
            active-color="primary"
            align="justify"
            class="text-grey"
            dense
            indicator-color="primary"
          >
            <q-tab :class="tab=='roles'?'secondary':''" icon="comment" label="Rollen" name="roles">
            </q-tab>
            <q-tab :class="tab=='invite_user'?'secondary':''" icon="contacts" label="User Einladen" name="invite_user">
            </q-tab>
          </q-tabs>

          <q-separator/>

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel class="q-pa-sm" name="roles">
              <member-roles-administration-table></member-roles-administration-table>
            </q-tab-panel>

            <q-tab-panel class="q-pa-sm" name="invite_user">
              <foreign-users-for-invitation-overview>
              </foreign-users-for-invitation-overview>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>



  </q-page>



</template>

<script lang="ts">
import {defineComponent, inject, ref} from 'vue'
import GroupDetailNewsList from "src/components/shared/group-specific/GroupDetailNewsList.vue";
import GroupDetailMemberList from "src/components/shared/group-specific/GroupDetailMemberList.vue";
import {GroupMemberDAO} from "src/models/DAOs/group-member";
import ForeignUsersForInvitationOverview
  from "src/pages/user-specific/group-admin-specific/ForeignUsersForInvitationOverview.vue";
import {useRoute} from "vue-router";
import MemberRolesAdministrationTable from "src/components/shared/group-specific/MemberRolesAdministrationTable.vue";

export default defineComponent({
  name: 'GroupDetailAdministrationView',
  components: {
    MemberRolesAdministrationTable,
    ForeignUsersForInvitationOverview,
    GroupDetailMemberList,
    GroupDetailNewsList
  },
  setup() {
    const groupName = useRoute().params.group.toString()
    return {
      groupName,
      tab: ref('roles'),
    }
  },
})
</script>
