<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header class="bg-white text-grey-8">
      <top-bar></top-bar>
    </q-header>

    <q-drawer
      v-model="layoutStore.leftDrawerOpen"
      show-if-above
      bordered
      :mini="layoutStore.miniState"
      class="bg-white"
      :width="280"
    >
      <q-scroll-area class="fit">
        <q-list padding class="text-grey-8">
          <q-item>
            <q-btn :rounded="!layoutStore.miniState" :round="layoutStore.miniState" icon="add" color="primary"
                   text-color="white" style="width: 100%"
                   :to="{name: 'user-news-create-view'}"
                   :label="layoutStore.miniState?'':'News'"></q-btn>
          </q-item>
          <q-item to="/groups" active-class="q-item-no-link-highlighting">
            <q-item-section avatar>
              <q-icon name="groups"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>Gruppen</q-item-label>
            </q-item-section>
          </q-item>
          <q-item :to="{name: 'all-news'}" active-class="q-item-no-link-highlighting">
            <q-item-section avatar>
              <q-icon name="feed"/>
            </q-item-section>
            <q-item-section>
              <q-item-label>News</q-item-label>
            </q-item-section>
          </q-item>

          <q-expansion-item
            v-if="memberIsLoggedIn"
            icon="account_circle"
            :label="user.Username"
          >

            <q-list class="q-pl-lg">
              <q-item :to="{name: 'user-groups'}" active-class="q-item-no-link-highlighting">
                <q-item-section avatar>
                  <q-icon name="diversity_3"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Gruppen</q-item-label>
                </q-item-section>
              </q-item>
              <q-item :to="{name: 'user-news'}" active-class="q-item-no-link-highlighting">
                <q-item-section avatar>
                  <q-icon name="feed"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label>News</q-item-label>
                </q-item-section>
              </q-item>
              <q-item :to="{name: 'user-invitations'}" active-class="q-item-no-link-highlighting">
                <q-item-section avatar>
                  <q-icon name="insert_invitation"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Einladungen</q-item-label>
                </q-item-section>
              </q-item>
              <q-item :to="{name: 'user-entry-requests'}" active-class="q-item-no-link-highlighting">
                <q-item-section avatar>
                  <q-icon name="waving_hand"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Beitrittsanfragen</q-item-label>
                </q-item-section>
              </q-item>
              <q-item to="/Profile" active-class="q-item-no-link-highlighting">
                <q-item-section avatar>
                  <q-icon name="badge"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Profil</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-expansion-item>
          <template v-if="!memberIsLoggedIn">
            <q-separator></q-separator>
            <q-item :to="{name: 'login'}" active-class="q-item-no-link-highlighting">
              <q-item-section avatar>
                <q-icon name="login"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Anmelden</q-item-label>
              </q-item-section>
            </q-item>
            <q-item :to="{name: 'register'}" active-class="q-item-no-link-highlighting">
              <q-item-section avatar>
                <q-icon name="app_registration"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Registrieren</q-item-label>
              </q-item-section>
            </q-item>
          </template>
          <template v-else>
            <q-separator></q-separator>
            <q-item clickable @click="logout" active-class="q-item-no-link-highlighting">
              <q-item-section avatar>
                <q-icon name="logout"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Abmelden</q-item-label>
              </q-item-section>
            </q-item>
          </template>

        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>

    <q-page-sticky v-if="$q.screen.lt.sm" position="bottom-right" :offset="[10,10]">
      <q-btn round
             icon="add"
             direction="up"
             color="accent"
      >
      </q-btn>
    </q-page-sticky>
  </q-layout>
</template>

<script>
import {defineComponent, ref} from 'vue'
import {useQuasar} from "quasar";
import TopBar from "components/core/TopBar";
import {storeToRefs} from "pinia/dist/pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import {useLayoutStore} from "src/stores/layout-store";

export default defineComponent({
  name: 'MainLayout',
  components: {TopBar},
  setup() {

    const $q = useQuasar()

    // $q.screen.setSizes({ sm: 300, md: 500, lg: 1000, xl: 2000 })

    const leftDrawerOpen = ref(false)
    const miniState = ref(false)

    return {
      layoutStore: useLayoutStore(),
      memberIsLoggedIn: storeToRefs(useUserDataStore()).loggedIn,
      user: storeToRefs(useUserDataStore()).user,
      memberDataStore: useUserDataStore(),
    }
  },
  methods: {
    logout() {
      console.log("logout...")
      this.memberDataStore.clearMember()
    }
  }
})
</script>

<style>
.GNL__toolbar {
  height: 64px;
}

.GNL__toolbar-input {
  width: 55%;
}

.GNL__drawer-item {
  line-height: 24px;
  border-radius: 0 24px 24px 0;
  margin-right: 12px;
}

.GNL__drawer-item .q-item__section--avatar .q-icon {
  color: #5f6368;
}

.GNL__drawer-item .q-item__label {
  color: #3c4043;
  letter-spacing: .01785714em;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.GNL__drawer-footer-link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: .75rem;
}

.GNL__drawer-footer-link:hover {
  color: #000;
}
</style>
