<template>
  <router-view></router-view>
</template>

<script lang="ts">
import {defineAsyncComponent, defineComponent, provide, ref, watchEffect} from 'vue'
import GroupDetailTabs from "src/components/shared/group-specific/GroupDetailTabs.vue";
import {useRoute} from "vue-router/dist/vue-router";
import {DataService} from "src/services/data-service/data-service";
import {storeToRefs} from "pinia/dist/pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import SubToolbar from "src/components/shared/sub-toolbar.vue";
import {UserDataService} from "src/services/data-service/user-data-service";
import LeaveGroupConfirm from "src/components/shared/group-specific/LeaveGroupConfirm.vue";
import groupAdminClient from "src/api-client/clients/restricted/group-admin-client";
import DeleteGroupConfirm from "src/components/shared/group-specific/DeleteGroupConfirm.vue";


export default defineComponent({
  name: 'GroupDetailWrapper',
  components: {
  },
  setup() {
    const groupName: string = useRoute().params.group.toString()
    const group: any = ref(null)
    const news = ref(null)
    const members = ref(null)
    provide('news', news)
    provide('members', members)
    provide('group', groupName)
    watchEffect(async () => {
      // this effect will run immediately and then
      // re-run whenever currentBranch.value changes
      group.value = await DataService.getGroupDetail(groupName)
      news.value = group.value.News
      members.value = group.value.Members
    })
    return {
    }
  },
})
</script>
