<template>
  <q-page class="q-pa-sm">
    <sub-toolbar v-if="memberIsLoggedIn">
      <template v-slot:content>
        <q-btn flat label="Neu" icon="add"
               :to="{name: 'user-group-create-view'}" stretch/>
      </template>
    </sub-toolbar>
    <div class="text-h6 q-ma-md">Alle Gruppen</div>
    <q-separator/>


    <GroupsPaginated :loading="loading" :cards_data="cards_data"></GroupsPaginated>

  </q-page>
</template>

<script lang="ts">
import {defineAsyncComponent, defineComponent} from 'vue';
import {GroupCard} from "src/models/group-card";
import {DataService} from "src/services/data-service/data-service";
import {storeToRefs} from "pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import SubToolbar from "src/components/shared/sub-toolbar.vue";


export default defineComponent({
  name: "GroupsOverview",
  components: {
    GroupsPaginated: defineAsyncComponent(() => import('src/components/shared/group-specific/GroupsPaginated.vue')),
    SubToolbar,
  },
  data() {
    return {
      cards_data: [] as GroupCard[] | null,
      memberIsLoggedIn: storeToRefs(useUserDataStore()).loggedIn,
      loading: true,
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.cards_data = await DataService.getAllGroups()
      this.loading = false
    }
  },

})
</script>

<style scoped>

</style>
