<template>
  <q-page class="q-pa-sm">
    <template v-if="!loading">
      <sub-toolbar v-if="memberIsLoggedIn">
        <template v-slot:content>
          <q-btn color="white" flat stretch v-if="loggedInUserIsAdmin"
                 :to="{ name: 'group-administration',
                              params: {
                                  group: group.Name,
                                  }
                }">
            <!--   Menu components started here  -->
            <q-icon name="insert_invitation" class="q-mr-sm"/>
            <span>Administration</span>
          </q-btn>
          <q-space></q-space>
          <q-btn color="white" flat icon="more_vert">
            <!--   Menu components started here  -->
            <q-menu>
              <q-list style="min-width: 100px">
                <q-item v-if="userIsMember(group.Name)" class="flex-center" clickable>
                  <a class="text-uppercase" square @click="wantLeave = true">Austreten</a>
                </q-item>
                <q-item v-else class="flex-center" clickable>
                  <a class="text-negative text-uppercase" square @click="wantDeleteGroup = true">Beitreten</a>
                </q-item>
                <q-item v-if="loggedInUserIsAdmin" class="flex-center" clickable>
                  <a class="text-negative text-uppercase" square @click="wantDeleteGroup = true">Auflösen</a>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </template>
      </sub-toolbar>
      <div class="q-ml-md relative-position row items-center">
        <div class="text-h3 q-mr-md">
          {{ group.Name }}
        </div>
        <q-chip color="secondary" ro style="width: max-content" text-color="white">
          {{ group.Category }}
        </q-chip>
      </div>
      <q-separator/>
      <div class="q-layout-padding">
        <div class="q-field__label q-pb-xs">Beschreibung</div>
        <div class="text-body2 text-justify">
          {{ group.Description }}
        </div>
      </div>
      <div class="row q-py-sm">
        <group-detail-tabs/>
      </div>
      <div class="q-layout-padding">
        <div class="q-field__label q-pb-xs">Gründer</div>
        <q-item>
          <q-item-section avatar>
            <q-avatar>
              <img :src="'https://cdn.quasar.dev/team/razvan_stoenescu.jpeg'">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">{{ group.FounderName }}</q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </template>
    <template v-else>
      <div class="flex flex-center">
        <q-spinner-oval class="q-mt-xl" color="secondary" size="50px"></q-spinner-oval>
      </div>
    </template>
  </q-page>

  <leave-group-confirm v-model:want-leave="wantLeave" @confirm="leaveGroup"></leave-group-confirm>
  <delete-group-confirm v-model:want-delete="wantDeleteGroup"
                        @confirm="deleteGroup"></delete-group-confirm>
</template>

<script lang="ts">
import {defineAsyncComponent, defineComponent, provide, ref, watchEffect} from 'vue'
import GroupDetailTabs from "src/components/shared/group-specific/GroupDetailTabs.vue";
import {useRoute} from "vue-router/dist/vue-router";
import {DataService} from "src/services/data-service/data-service";
import {storeToRefs} from "pinia/dist/pinia";
import {useUserDataStore} from "src/stores/user-data-store";
import SubToolbar from "src/components/shared/sub-toolbar.vue";
import {UserDataService} from "src/services/data-service/user-data-service";
import LeaveGroupConfirm from "src/components/shared/group-specific/LeaveGroupConfirm.vue";
import groupAdminClient from "src/api-client/clients/restricted/group-admin-client";
import DeleteGroupConfirm from "src/components/shared/group-specific/DeleteGroupConfirm.vue";


export default defineComponent({
  name: 'PageIndex',
  components: {
    DeleteGroupConfirm,
    LeaveGroupConfirm,
    SubToolbar,
    GroupDetailTabs,
    CardWithImage: defineAsyncComponent(() => import('src/components/cards/CardWithImage.vue')),
    CardTimeLine: defineAsyncComponent(() => import('src/components/cards/CardTimeLine.vue')),
  },
  setup() {
    const groupName: string = useRoute().params.group.toString()
    const group: any = ref(null)
    const news = ref(null)
    const members = ref(null)
    const loading = ref(true)
    provide('group', groupName)
    watchEffect(async () => {
      // this effect will run immediately and then
      // re-run whenever currentBranch.value changes
      group.value = await DataService.getGroupDetail(groupName)
      news.value = group.value.News
      members.value = group.value.Members
      loading.value = false
    })
    return {
      memberIsLoggedIn: storeToRefs(useUserDataStore()).loggedIn,
      groupName,
      loading,
      wantLeave: ref(false),
      wantDeleteGroup: ref(false),
      group
    }
  },
  computed: {
    userIsMember(): any {
      return (group: string) =>
        useUserDataStore().userGroups?.find(x => x.Name === group) != null
    },
    loggedInUserIsAdmin(): any {
      return useUserDataStore().isAdminOfGroup(this.groupName)
    },
  },
  methods: {
    leaveGroup() {
      UserDataService.leaveGroup(this.group.GroupId)
    },
    deleteGroup() {
      groupAdminClient.deleteGroup(this.group.GroupId).subscribe(
        next => {
          this.$router.push({name: "user-groups"})
        }
      )
    }
  }
})
</script>
