<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex bg-image flex-center">
        <q-card v-bind:style="$q.screen.lt.sm?{'width': '80%'}:{'width':'30%'}">
          <q-card-section>
            <q-avatar size="103px" class="absolute-center shadow-10">
              <img src="profile.svg">
            </q-avatar>
          </q-card-section>
          <q-card-section>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis">
                Anmelden
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="username"
                label="Username"
                lazy-rules
              />

              <q-input
                type="password"
                filled
                v-model="password"
                label="Passwort"
                lazy-rules
              />
              <div>
                <q-btn label="Anmelden" type="button" color="primary" @click="login"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import {useUserDataStore} from "src/stores/user-data-store";
import {IUser} from "src/models/entities/user";

export default defineComponent({
  name: 'Login',
  setup() {
    return {
      username: ref(''),
      password: ref(''),
    }
  },
  methods: {
    login() {
      console.log("login...", this.username)
      const newUser: IUser = {
        Username: this.username
      }
      useUserDataStore().persistMember(newUser)
      this.$router.push({name: "user-groups"});
    }
  }
})
</script>

<style>

.bg-image {
  background-image: linear-gradient(135deg, #7028e4 0%, #e5b2ca 100%);
}
</style>
